
/* Controls */

.controls {
  margin: 30px -10px;
}
.control {
  position: relative;

  float: left;
  width: 100%;
  padding: 0 10px;
}
@media (max-width: 600px) {
  .control {
    float: none;
    width: auto;
    margin: 0 0 15px 0;
  }
  .control.layout {
    margin: 0;
  }
}
.control-icon {
  position: absolute;
  left: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}


/* Grid */

.grid {
  position: relative;
  max-width: 960px;
  margin: 0 -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.item {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 10px;
  z-index: 1;
}
.item.muuri-item-positioning {
  z-index: 2;
}
.item.muuri-item-dragging,
.item.muuri-item-releasing {
  z-index: 9999;
}
.item.muuri-item-dragging {
  cursor: move;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.h2 {
  height: 220px;
  line-height: 220px;
}
.item.w2 {
  width: 220px;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  word-wrap: break-word;
  font-size: 13px;
  font-weight: 500;
  border: none;
  color: #333;
  /* border-radius: 4px; */ /* CRz */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.card-title{
  background: inherit;
  background-clip: text;
  color: #fff;
  word-wrap: break-word;

}
/* https://coolors.co/ */ /* crZ */

.item.maroon .card { background-color: rgba(142, 137, 186, 1);}
.item.red .card { background-color:rgba(44, 48, 46, 1);}
.item.purple .card { background-color:rgba(71, 74, 72, 1);}
.item.fuchsia .card { background-color:rgba(154, 225, 157, 1);}
.item.green .card { background-color:rgba(83, 122, 90, 1);}
.item.lime .card { background-color:rgba(211, 174, 55, 1);}
.item.olive .card { background-color:rgba(173, 52, 62, 1);}
.item.yellow .card { background-color:rgba(71, 71, 71, 1);}
.item.teal .card { background-color:rgba(0, 0, 0, 1);}
.item.aqua .card { background-color:rgba(224, 224, 206, 1);}
.item.orange .card { background-color:rgba(36, 90, 102, 1);}
.item.aliceblue .card { background-color:rgba(148, 232, 180, 1);}
.item.antiquewhite .card { background-color:rgba(114, 189, 163, 1);}
.item.aquamarine .card { background-color:rgba(94, 140, 97, 1);}
.item.blueviolet .card { background-color:rgba(59, 50, 44, 1);}
.item.brown .card { background-color:rgba(36, 90, 102, 1);}
.item.burlywood .card { background-color:rgba(20, 8, 14, 1);}
.item.cadetblue .card { background-color:rgba(121, 148, 150, 1);}
.item.chartreuse .card { background-color:rgba(172, 193, 150, 1);}
.item.chocolate .card { background-color:rgba(233, 235, 158, 1);}
.item.coral .card { background-color:rgba(36, 90, 102, 1);}
.item.cornflowerblue .card { background-color:rgba(93, 78, 109, 1);}
.item.cornsilk .card { background-color:rgba(143, 169, 152, 1);}
.item.crimson .card { background-color:rgba(156, 191, 167, 1);}
.item.cyan .card { background-color:rgba(201, 242, 153, 1);}
.item.darkcyan .card { background-color:rgba(239, 65, 68, 1);}
.item.darkgoldenrod .card { background-color:rgba(193, 193, 193, 1);}
.item.darkgreen .card { background-color:rgba(44, 66, 81, 1);}
.item.darkkhaki .card { background-color:rgba(182, 198, 73, 1);}
.item.darkmagenta .card { background-color:rgba(255, 255, 255, 1);}
.item.darkolivegreen .card { background-color:rgba(239, 65, 68, 1);}
.item.darkorange .card { background-color:rgba(243, 141, 104, 1);}
.item.darkorchid .card { background-color:rgba(102, 44, 145, 1);}
.item.darkred .card { background-color:rgba(23, 163, 152, 1);}
.item.darksalmon .card { background-color:rgba(51, 49, 46, 1);}
.item.darkseagreen .card { background-color:rgba(239, 65, 68, 1);}
.item.darkslateblue .card { background-color:rgba(38, 70, 83, 1);}
.item.darkslategrey .card { background-color:rgba(42, 157, 143, 1);}
.item.darkturquoise .card { background-color:rgba(233, 196, 106, 1);}
.item.darkviolet .card { background-color:rgba(244, 162, 97, 1);}
.item.deeppink .card { background-color:rgba(239, 65, 68, 1);}
.item.deepskyblue .card { background-color:rgba(73, 88, 103, 1);}
.item.dodgerblue .card { background-color:rgba(87, 115, 153, 1);}
.item.firebrick .card { background-color:rgba(189, 213, 234, 1);}
.item.floralwhite .card { background-color:rgba(247, 247, 255, 1);}
.item.forestgreen .card { background-color:rgba(239, 65, 68, 1);}
.item.gainsboro .card { background-color:rgba(23, 190, 187, 1);}
.item.ghostwhite .card { background-color:rgba(46, 40, 42, 1);}
.item.gold .card { background-color:rgba(237, 184, 139, 1);}
.item.goldenrod .card { background-color:rgba(250, 216, 214, 1);}
.item.greenyellow .card { background-color:rgba(239, 65, 68, 1);}
.item.grey .card { background-color:rgba(102, 153, 204, 1);}
.item.honeydew .card { background-color:rgba(255, 242, 117, 1);}
.item.hotpink .card { background-color:rgba(255, 140, 66, 1);}
.item.indianred .card { background-color:rgba(162, 62, 72, 1);}
.item.indigo .card { background-color:rgba(239, 65, 68, 1);}
.item.khaki .card { background-color:rgba(255, 77, 128, 1);}
.item.lavender .card { background-color:rgba(223, 54, 124, 1);}
.item.lavenderblush .card { background-color:rgba(136, 57, 85, 1);}
.item.lawngreen .card { background-color:rgba(76, 53, 73, 1);}
.item.lemonchiffon .card { background-color:rgba(239, 65, 68, 1);}
.item.lightblue .card { background-color:rgba(12, 15, 10, 1);}
.item.lightcoral .card { background-color:rgba(251, 255, 18, 1);}
.item.lightcyan .card { background-color:rgba(65, 234, 212, 1);}
.item.lightgoldenrodyellow .card { background-color:rgba(255, 255, 255, 1);}
.item.lightgray .card { background-color:rgba(56, 150, 180, 1);}
.item.lightgreen .card { background-color:rgba(113, 247, 159, 1);}
.item.lightgrey .card { background-color:rgba(61, 214, 208, 1);}
.item.lightpink .card { background-color:rgba(81, 60, 44, 1);}
.item.lightsalmon .card { background-color:rgba(40, 25, 14, 1);}
.item.lightseagreen .card { background-color:rgba(56, 150, 180, 1);}
.item.lightskyblue .card { background-color:rgba(0, 110, 144, 1);}
.item.lightslategray .card { background-color:rgba(241, 143, 1, 1);}
.item.lightslategrey .card { background-color:rgba(173, 202, 214, 1);}
.item.lightsteelblue .card { background-color:rgba(153, 194, 77, 1);}
.item.lightyellow .card { background-color:rgba(56, 150, 180, 1);}
.item.limegreen .card { background-color:rgba(68, 118, 4, 1);}
.item.linen .card { background-color:rgba(108, 197, 81, 1);}
.item.magenta .card { background-color:rgba(159, 252, 223, 1);}
.item.mediumaquamarine .card { background-color:rgba(71, 98, 79, 1);}
.item.mediumblue .card { background-color:rgba(173, 238, 227, 1);}
.item.mediumorchid .card { background-color:rgba(4, 42, 43, 1);}
.item.mediumpurple .card { background-color:rgba(84, 242, 242, 1);}
.item.mediumseagreen .card { background-color:rgba(252, 252, 252, 1);}
.item.mediumslateblue .card { background-color:rgba(244, 224, 77, 1);}
.item.mediumspringgreen .card { background-color:rgba(134, 222, 183, 1);}
.item.mediumturquoise .card { background-color:rgba(80, 114, 60, 1);}
.item.mediumvioletred .card { background-color:rgba(66, 62, 40, 1);}
.item.midnightblue .card { background-color:rgba(216, 221, 239, 1);}
.item.mintcream .card { background-color:rgba(160, 164, 184, 1);}
.item.mistyrose .card { background-color:rgba(114, 147, 160, 1);}
.item.moccasin .card { background-color:rgba(33, 209, 159, 1);}
.item.navajowhite .card { background-color:rgba(0, 114, 187, 1);}
.item.oldlace .card { background-color:rgba(143, 201, 58, 1);}
.item.olivedrab .card { background-color:rgba(228, 204, 55, 1);}
.item.orangered .card { background-color:rgba(225, 131, 53, 1);}
.item.orchid .card { background-color:rgba(92, 39, 81, 1);}
.item.palegoldenrod .card { background-color:rgba(100, 87, 166, 1);}
.item.palegreen .card { background-color:rgba(157, 172, 255, 1);}
.item.paleturquoise .card { background-color:rgba(118, 229, 252, 1);}
.item.palevioletred .card { background-color:rgba(201, 228, 202, 1);}
.item.papayawhip .card { background-color:rgba(135, 187, 162, 1);}
.item.peachpuff .card { background-color:rgba(59, 96, 100, 1);}
.item.peru .card { background-color:rgba(54, 73, 88, 1);}
.item.pink .card { background-color:rgba(41, 110, 131, 1);}
.item.plum .card { background-color:rgba(72, 139, 73, 1);}
.item.powderblue .card { background-color:rgba(74, 173, 82, 1);}
.item.rosybrown .card { background-color:rgba(110, 178, 87, 1);}
.item.royalblue .card { background-color:rgba(197, 224, 99, 1);}
.item.saddlebrown .card { background-color:rgba(42, 43, 46, 1);}
.item.salmon .card { background-color:rgba(164, 194, 168, 1);}
.item.sandybrown .card { background-color:rgba(172, 235, 152, 1);}
.item.seagreen .card { background-color:rgba(135, 255, 101, 1);}
.item.seashell .card { background-color:rgba(49, 54, 40, 1);}
.item.sienna .card { background-color:rgba(133, 127, 116, 1);}
.item.skyblue .card { background-color:rgba(164, 172, 150, 1);}
.item.slateblue .card { background-color:rgba(202, 223, 158, 1);}
.item.slategray .card { background-color:rgba(149, 9, 82, 1);}
.item.slategrey .card { background-color:rgba(94, 0, 53, 1);}
.item.snow .card { background-color:rgba(2, 2, 2, 1);}
.item.springgreen .card { background-color:rgba(2, 54, 24, 1);}
.item.steelblue .card { background-color:rgba(129, 141, 146, 1);}
.item.tan .card { background-color:rgba(185, 163, 148, 1);}
.item.thistle .card { background-color:rgba(212, 197, 199, 1);}
.item.tomato .card { background-color:rgba(218, 212, 239, 1);}
.item.turquoise .card { background-color:rgba(184, 225, 255, 1);}
.item.violet .card { background-color:rgba(169, 255, 247, 1);}
.item.wheat .card { background-color:rgba(148, 251, 171, 1);}
.item.yellowgreen .card { background-color:rgba(130, 171, 161, 1);}

.item.white .card {background-color:#fff;}

.card-id {
  position: absolute;
  left: 7px;
  top: 0;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
.card-remove {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.card:hover > .card-remove {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Grid Footer */


.grid-footer {
  margin: 60px 0;
  text-align: center;
}

.grid-footer .btn .material-icons {
  margin-right: 10px;
  font-size: 24px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}