/* PBS FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,500,700&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; * /
/* font-weight: 300, 400 */

/* ----------------- Base ----------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}
html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif; /* PBS font - CRz */
  font-size: 16px;
  font-weight: 300;
  /* line-height: 1.5; */ /* CRz */
  color: #303e48; /* PBS main text color */
  margin:0; padding: 0 0 50px;
}

/* ------------------ Clearfix ----------------------*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/* ---------------- Material icons -----------------*/

.material-icons {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  font-size: inherit;
}

/* ------------------- BUTTONS -------------------- */
/*.individualWidth{
  width:100%;
}*/ /* deleted by CRz */

/* Animated fade in/out buttons */
button{
    -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

/* Webstats statistics button */
#stats{
    background: #303e48;
    color:#fff;
    font-weight: 700;
    border:none;
    padding: 1em 0;
    width:200px;
    text-transform: uppercase;
    cursor: pointer;
    outline:none;
}
#stats:hover{
    background-color:#4a5e6d;
}

#personcontainer{
    position:fixed; bottom: 0;
    width:100%;
    text-align:center;
    z-index:1000;
   -webkit-box-shadow: 0px -5px 12px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px -5px 12px 1px rgba(0,0,0,0.63);
    box-shadow: 0px -5px 12px 1px rgba(0,0,0,0.63);
}
#person{
  margin 0 auto;
  width:100%;
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 0px 15px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  background: #ef4144;
  color: #fff;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding:20px 0;
}

#person:hover{
    background-color: #fe5b5d
}
.summary{
    position: relative;
    display: block;
    width:100%;
    text-align:right;
    }
#summary{
     background:#fff;
    color:#666;
    font-weight: 700;
    border:none;
    padding: 1em 0;
    width:200px;
    text-transform: uppercase;
    cursor: pointer;
    outline:none;
    text-align:right;
}
.btn:focus,
.btn:hover,
.btn:active { outline: 0;}


/* ------------------- Forms --------------------*/

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 26px;
  color: inherit;
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/*select.form-control {
  padding-right: 40px;
  cursor: pointer;
}*/
select.form-control::-ms-expand {
  display: none;
}
.form-control:focus {
  outline: 0;
  border-color: #4a9ff9;
}

/*------------------------- Header ---------------------------- */

header {
    background: #2d363e;
  padding: 30px auto;
  text-align: center;
  color: #fff;
}
header .logo {
  max-width: 240px;
  margin: 60px auto 60px auto;
}

header .logo svg {
  width: 100%;
  height: 100%;
}
header h1 {
display: inline-block;
font-size:1.5em;
font-weight: 300;
text-transform: uppercase;
text-align: left;
}
header h1:first-of-type{
    border-right: 1px solid #fff;
    padding-right: 1.5em;}
header h1:last-of-type{
    padding-left:1.5em;
}
header h1 span{
font-weight: 700 !important;
}
@media screen and (max-width: 960px) {
header{text-align: left; padding-left:3%;}
}
@media screen and (max-width: 720px) {
header h1 {font-size:1em;}
}
@media screen and (max-width: 450px) {
header h1 {font-size:.7em;}
#person{ padding:30px 0;}
}

/* --------------- Section ---------------- */

section {
  margin: 30px auto;
  padding-top: 0;
  max-width: 940px;
  padding: 0 3%;
  text-align: left;
}
section h2{
    font-size:1.35em;
    text-transform: uppercase;
    text-align:center;
}

@media (max-width: 600px) {
  section.demo {
    border-top: 0;
  }
}

/* ------------- Webstats box ---------------*/
#webStats{
    background: #4d5b65;
    font-weight: 300 !important;
    color: #fff;
    padding:15px;
}

#webStats b, #webStats u{
    font-weight: 300;
    text-decoration: none;

}


/* Search and Add tiles */
.controls {
    width:100%;
  margin: 30px 0;
}
/* Search */
.control {
  position: relative;
  display:inline-block;
  width: 47%;
  padding: 0;
  margin-right:7%;
}
.control-icon {
  position: absolute;
  left: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}
.add-tile-container{
    display:inline-block;
    width:47%; margin-right:-2%;
}

input[type=text], select {
font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  text-align: center;
}
input#newTileName{
    /*background: #d5bd71;*/
    display: inline-block;
    max-width:74%;
    font-weight:700;
    font-size:1em;
    text-align:left;
   /* border: 2px solid #d3ae37;;*/
    color:#000;
    margin 0;
    padding: 10px 10px 9px;
    border-bottom: 1px solid #303e48;
    outline: none;
}
button.add-more-items{
    background: #303e48;
    display: inline-block;
    color:#fff;
    border:none;
    font-size:1.5em;
    box-sizing:border-box;
    margin-left:-3px;
     vertical-align: middle;
     margin-bottom:4px;
     max-width:25%;
     padding: 6px 10px;
     cursor: pointer;
     outline: none;
}
button.add-more-items:hover{background-color:#4a5e6d;}
input.search-field {
  /*background:#92adb6;*/
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: 1px solid #303e48;;
  border-radius: 0;
  box-sizing: border-box;
  text-align: left;
  color:#303e48 !important;
  font-weight: 700;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#303e48;
  opacity: 1; /* Firefox */
  font-weight: 700;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #303e48;
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: #303e48;
}

/* --------------- Footer ----------------- */

footer {
  margin: 0 auto;
  max-width: 940px;
  text-align: center;
  border-top: 2px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer img{max-width:200px; }


/* ADAPTIVE */
@media (max-width: 600px) {
  .control {
    float: none;
    width: auto;
    margin: 0 0 15px 0;
  }
  .control.layout {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
 .control {
  width: 85%;
  margin-right:0;
  }
 .add-tile-container{
    width:100%; margin-right:0;
  }
}