#Top10{width:100% !important;}
#containerTop5{width: 50% !important; height: auto !important;  display: inline-block !important;}
#containerSatisfaction{width: 49.5% !important;  height: auto !important; display:inline-block !important;}

#reports #webStats{display:none;}

#webStats{margin-bottom:20px;}

/*HAPPY FACE*/
body{ background: url(../_img/yellow.jpg) repeat;}
#happysmileDiv{ max-width: 100%; text-align: center;}
#happysmile{max-width: 100%; height: auto;}