#Top10{width:100% !important;}
#containerTop5{width: 50% !important; height: auto !important;  display: inline-block !important;}
#containerSatisfaction{width: 49.5% !important;  height: auto !important; display:inline-block !important;}

#reports #webStats{display:none;}

/*HAPPY FACE*/
body{
    background: url(../_img/smile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}